
@font-face {
  font-family: 'TT Lakes';
  src: url('assets/fonts/medium/TTLakes-Medium.woff2') format('woff2'),
       url('assets/fonts/medium/TTLakes-Medium.woff') format('woff');
      
  
}

@font-face {
  font-family: 'TT Lakes Bold';
  src: url('assets/fonts/bold/TTLakes-ExtraBold.woff2') format('woff2'),
      url('assets/fonts/bold/TTLakes-ExtraBold.woff') format('woff');
}


*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'TT Lakes';
  font-size: 16px;
}

a {
  text-decoration: none;
  color:#1B1C21;

}

ul,
ol,
li {
  list-style: none;
}

html,
body {
  min-width: 320px;
  height: fit-content;
  color: #1B1C21;
  font-family: 'TT Lakes', sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: left;
  overflow-x: hidden;
}
.wrapper{
  min-width: 320px;
  margin: auto;
  background-color: #474747;
}
button{
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
/*----------------------header style-----------------*/

.header{
  display: flex;
  justify-content: center;
  height: 80px;
  background-color: #FFFFFF;
}
.main-header{
  width: 288px;
  height: 48px;
  top: 16px;
  left: 16px;
  margin: auto 0;
  color:#7E7E82;
  font-family:'TT Lakes';
  font-size: 16px;

  font-weight: 10;
  line-height: 24px;
  text-transform: uppercase;

}
.main-slider{
  background-image: linear-gradient(#F8F8F8 100%, #FFFFFF 100%);
}



@media (min-width: 768px) {
  
}

@media (min-width: 1120px) {
  
}

/*-----------------slider------------------------*/
.slider {
  padding: 32px;
  color: #fff;
}
.slider .swiper-container {
  width: 100%;
  height: 100%;
}
.slider__flex {
  display: flex;
  align-items: flex-start;
}
.slider__col {
  display: flex;
  flex-direction: column;
  width: 150px;
  margin-right: 32px;
}
.slider__prev,
.slider__next {
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.slider__prev:focus,
.slider__next:focus {
  outline: none;
}
.slider__thumbs {
  height: calc(400px - 96px);
}
.slider__thumbs .slider__image {
  transition: 0.25s;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
}
.slider__thumbs .slider__image:hover {
  opacity: 1;
}
.slider__thumbs .swiper-slide-thumb-active .slider__image {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity: 1;
}
.slider__images {
  height: 400px;
}
.slider__images .slider__image img {
  transition: 3s;
}
.slider__images .slider__image:hover img {
  transform: scale(1.1);
}
.slider__image {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
}
.slider__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 767.98px) {
  .slider__flex {
    flex-direction: column-reverse;
  }
  .slider__col {
    flex-direction: row;
    align-items: center;
    margin-right: 0;
    margin-top: 24px;
    width: 100%;
  }
  .slider__images {
    width: 100%;
  }
  .slider__thumbs {
    height: 100px;
    width: calc(100% - 96px);
    margin: 0 16px;
  }
  .slider__prev,
  .slider__next {
    height: auto;
    width: 32px;
  }
}