@font-face {
  font-family: "TT Lakes";
  src: url("assets/fonts/medium/TTLakes-Medium.woff2") format("woff2"),
    url("assets/fonts/medium/TTLakes-Medium.woff") format("woff");
}

@font-face {
  font-family: "TT Lakes Bold";
  src: url("assets/fonts/bold/TTLakes-ExtraBold.woff2") format("woff2"),
    url("assets/fonts/bold/TTLakes-ExtraBold.woff") format("woff");
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "TT Lakes";
  font-size: 16px;
}
html,
body {
  position: relative;
  height: 100%;
}
a {
  text-decoration: none;
  color: #1b1c21;
}

ul,
ol,
li {
  list-style: none;
}

html,
body {
  min-width: 320px;
  height: fit-content;
  color: #1b1c21;
  font-family: "TT Lakes", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: left;
  overflow-x: hidden;
}
.wrapper {
  min-width: 320px;
  margin: auto;
}
button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.hidden{
  display: none !important;
}
/*-----------------------------------*/

.header {
  display: flex;
  justify-content: center;
  height: 80px;
  background-color: #ffffff;
}
.header-text {
  width: 288px;
  height: 48px;
  margin: auto 0;
  color: #7e7e82;
  font-family: "TT Lakes";
  font-size: 16px;

  font-weight: 10;
  line-height: 24px;
  text-transform: uppercase;
}
main {
  height: fit-content;
  margin: 0;
  padding: 20px;
  background-color: #f9f9f9;
}
.swiper {
  width: 100%;
  height: 180px;
  background-color: #f9f9f9;
}
.swiper-slide,

.card,
.brand-card {
  width: 250px !important;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  border-radius: 6px;
  padding: 10px;
  margin: 1%;
}
.swiper-slide{
  border: 1px solid #eaeaea;
  border-radius: 6px;
}

.card img,
.brand-card img {
  height: 34px;
  width: auto;
}
.brand-card .round,
.card .round{
  height: 50px;
}
.card-button {
  width: 40px;
  height: 40px;
  background: url(assets/logo/go.svg) no-repeat;
}
.card-button {
  border-radius: 50%;
  transition: transform 0.5s;
}
.card-button:hover {
  transform: scale(1.09);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.5s transform 0.5s;
}

.card-button:active {
  transform: scale(0.95);
  filter: brightness(90%);
}
.swiper-pagination-bullet {
  width: 22px;
  height: 22px;
  margin: 0 8px;
  background-color: #dddddd;
  opacity: 0.8;
}

.swiper-pagination-bullet-active {
  background-color: #b5b6bc;
  opacity: 1;
}


.button-show{
  display: none;
}
@media (min-width: 768px) {
  .header-text{
    width: 100%;
    height: fit-content;
    margin-left: 4%;
  }
  .swiper{
    display: none;
  }
  .card,
  .brand-card{
    width: 31% !important;
    border: 1px solid #eaeaea;
    border-radius: 6px;
  }
  
  .brand-list{
    display: flex;
    justify-content: start;

    flex-wrap: wrap;
    
  }
  .button-show,
  .button-hide{
    position: relative;
    display: block;
    width: auto;
    margin: 5% 0 2% 10% ;
    transition: color 0.3s;
  }
  .button-show:before,
  .button-hide:before{
    position:absolute;
    content:"";
    background:url(assets/png/hide.png) no-repeat center center;
    background-size: cover;
    width: 25px;
    height: 25px;
    top: -10%;
    left: -35%;
    transform:  rotate(180deg);
  }

  .button-show:hover,
  .button-hide:hover{
    color: #b5b6bc;
    transition: color 0.3s opacity 0.3s;
  }
  
  .button-hide:before{
  transform: rotate(0);
left: -65%;
transition: opacity 0.3s;

}
.button-hide:hover:before,
.button-show:hover:before{
  opacity: 50%;
}

}
@media (min-width: 1120px) {
  
  .brand-card{
    width: 23% !important;
  }
 
}

